<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SafePass</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>SafePass</h2>
        <ul>
          <li>
            <a href="http://localhost:8080/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="http://localhost:8080/createPass"><i class="fas fa-create-a-password"></i>Create a password</a>
          </li>
          <li>
            <a href="http://localhost:8080/passwords"><i class="fas fa-passwords"></i>Passwords</a>
          </li>
          <li>
            <a href="http://localhost:8080/users"><i class="fas fa-users"></i>Users</a>
          </li>
          <li>
            <a href="http://localhost:8080/about_us"><i class="fas fa-about-us"></i>About us</a>
          </li>
        </ul>
      </div>
      </div>


        <header class="header">
          <h2>About Us</h2>
          <div class="header__user">thomas17<p>LHL</p>
          </div>
          <button class="header__button-enter">Logout</button>
          <img src="https://yt3.googleusercontent.com/5BTJiYa_VE9EPuXAKW88E35EOaY2tcc608iQnjgVpZ-N1dfcufexwmjqtSXWbdnQ6yDOtER7=s900-c-k-c0x00ffffff-no-rj" alt="">

        </header>


        <div class="info">
      NELSON & SAMPSON



        </div>


  </body>
</html>

