<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SafePass</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>SafePass</h2>
        <ul>
          <li>
            <a href="#"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-user"></i>Create a password</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-address-card"></i>Passwords</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-project-diagram"></i>Users</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-map-pin"></i>About us</a>
          </li>
        </ul>
      </div>
      <div class="main_content">

        <header class="header">
          <h2>Welcome!</h2>
          <div class="header__user">Zoro17<p>LHL</p>
          </div>
          <button class="header__button-enter">Logout</button>
          <img src="https://files.oaiusercontent.com/file-C2MWajH4gZzL4fSdqTyx3bWv?se=2024-07-30T00%3A35%3A00Z&sp=r&sv=2023-11-03&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Da967207e-029a-42d9-912d-b0c4865adce7.webp&sig=AeyD71jGuByYf7V4EenzMI4agUfx3iMmD0C3FEHG1SE%3D" alt="">

        </header>

        <div class="info">
amanhas vhjasd iuosdh oisahdoi psadj psadj pjfdsl kdhjkh dl;k'df



        </div>
      </div>
    </div>
  </body>
</html>
