<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Password Page</title>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
    <link rel="stylesheet" href="/vendor/border-box.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/layout.css">
  
    <script src="/vendor/jquery-3.0.0.js"></script>
    <!-- Ensure the path to your JavaScript file is correct -->
    <script type ="module" defer src="/scripts/app.js"></script>
  </head>
<body>
  <div class="generatePassword">
    <h1>Testing</h1>
      <form id="generateForm">
        <label for="length">Length:</label>
        <!-- Add id to get the data easier with getElementById -->
        <input type="number" id="length" name="length" min="4" value="6" aria-label="Password length">
        
        <label for="lowercase">Include Lowercase:</label>
        <input type="checkbox" id="lowercase" name="lowercase" checked aria-label="Include lowercase letters">
        
        <label for="uppercase">Include Uppercase:</label>
        <input type="checkbox" id="uppercase" name="uppercase" checked aria-label="Include uppercase letters">
        
        <label for="number">Include Number:</label>
        <input type="checkbox" id="number" name="number" checked aria-label="Include numbers">
        
        <label for="special">Include Special Characters:</label>
        <input type="checkbox" id="special" name="special" checked aria-label="Include special characters">
        
        <button type="button" id="generateButton">Generate Password</button>
      </form>
      <div class="userinfo">
        <form action="/password" method="POST" id="name_url">
          <div class="username">
            <label for="username">Enter your username:</label>
            <input class="form-control" type="username" name="username"/>
          </div>
          <div class="url">
            <label for="url">Enter your url:</label>
            <input class="form-control" type="url" name="url"/>
          </div>
          <input class="form-control" name="password" id="passwordOutput"/>
          <button type="button" id="copyButton">Copy Password</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</body>
</html>