.info {
    margin: 20px;
    margin-left: 20%;
    color: #f5f3f3;
    line-height: 25px;
    
}

.info div {
    margin-bottom: 20px;
}

.info button {
    background-color: rgb(80, 10, 172);;
    color: #fffdfd;
    border-radius: 2em;
    box-sizing: border-box;
    padding: 0.5em 1.7em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
}

.info button:hover {
    cursor: pointer;
    border-color: rgb(255, 255, 255);
}

.info .txt {                       //base txt for home and about us
    font-size:x-large;
}

#generateForm {                     //form for generate password function
    max-width: 400px;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #525050;
}

#generateForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#generateForm input[type="number"],
#generateForm input[type="checkbox"] {
    margin-bottom: 20px;
}

#generateForm input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#generateForm button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

#generateForm button:hover {
    background-color: #0056b3;
}

.info .userinfo form{                  //form for copy and submit password
    max-width: 400px;
    margin-right: 20%;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #525050;
}
.info .userinfo form label {
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;
    
}



#copyButton, 
.userinfo button[type="submit"] {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}

#generateForm button:hover,
#copyButton:hover,
.userinfo button[type="submit"]:hover {
  background-color: #0056b3;
}

#form-control{
    width: auto;
  
}


//passwords list styling 
.info li    {
    list-style:circle;
    list-style-type: disc;
}



.info .passwords button{
    background-color: #0056b3;
    color: #fffdfd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
    width: 110px;
}

#update {
    visibility: hidden;
}

#update .show{
    visibility: visible;
}