.info {
    margin: 20px;
    margin-left: 20%;
    color: #f5f3f3;
    line-height: 25px;
}

.info div {
    margin-bottom: 15px;
}

.info .txt {
    font-size: x-large;
}

#generatePassword {
    margin-top: 20px;
}
#userinfo {
    margin-top: 20px;
}


#generateForm {
    flex: 1;
    max-width: 400px;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #525050;
}

#generateForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#generateForm input[type="number"],
#generateForm input[type="checkbox"] {
    margin-bottom: 20px;
}

#generateForm input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#generateForm button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

#generateForm button:hover {
    background-color: #0056b3;
}

#name_url{
    flex: 1;
    max-width: 400px;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #525050;
}

#name_url label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#name_url input[type="username"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#name_url input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#passwordOutput{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#category{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#copyButton,
.userinfo button[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

#generateForm button:hover,
#copyButton:hover,
.userinfo button[type="submit"]:hover {
    background-color: #0056b3;
}

#form-control {
    width: auto;
    height: auto;
}

.forms-container {
    display: flex;
    justify-content:space-evenly;
    align-items: stretch;
}

.forms-container > div {
    flex: 1;
    margin-right: 20px;
    margin-top: 25px;
}

.forms-container > div:last-child {
    margin-right: 0;
    margin-top: 41px;
}

.filter {
    display:flex;
    justify-content: center;
    position: fixed;
    left: 18%;
    margin-bottom: 20%;
    gap: 40px;
    padding: 5px;
    button {
        border-radius: 4px;
        background-color: #5ca1e1;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 20px;
        padding: 16px;
        width: 10vw; 
        max-width: 300px; /* Maximum width to prevent it from becoming too large */
        transition: all 0.5s;
        cursor: pointer;
        margin: 12px;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    }
    button{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    button:after {
        content: '»';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }  
    button:hover {
        padding-right: 24px;
        padding-left:8px;
        box-shadow: 0px 2px 2px rgb(148, 0, 211), 
                    0px 2px 4px rgb(75, 0, 130), 
                    0px 2px 6px rgb(0, 0, 255), 
                    0px 2px 8px rgb(255, 255, 0), 
                    0px 2px 10px rgb(255, 127, 0), 
                    0px 2px 12px rgb(255, 0, 0);
    }
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
}


.info .passwords button{
    background-color: #0056b3;
    color: #fffdfd;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    margin-left: 30px;
    width: 110px;
}

.update {
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    position: fixed;
    top: 10%;
    right: calc(50vw - 75px);
    text-align: center;
    font-size: 20pt;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: all .3s ease-out;
  }
  
  .update.show {
    width: 150px;
    padding: 5px;
    border: none;
    visibility: visible;
    position: fixed;
    right: calc(50vw - 75px);
    text-align: center;
    font-size: 20pt;
    border-radius: 12px;
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateY(100%);
  }

.delete {
    width: 150px;
    padding: 5px;
    position: fixed;
    top: 10%;
    right: calc(50vw - 75px);
    text-align: center;
    font-size: 20pt;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: all .3s ease-out;
  }
  
  .delete.show {
    width: 150px;
    padding: 5px;
    visibility: visible;
    position: fixed;
    right: calc(50vw - 75px);
    text-align: center;
    font-size: 20pt;
    border-radius: 12px;
    background-color: rgb(222, 1, 1);
    box-shadow: rgb(0, 0, 0);
    opacity: 1;
    transform: translateY(100%);
  }
#infotable {
    display: flex;
    justify-content: center;
    position:fixed;
    top: 15%;
}
div .info {
    display: flex;
    justify-content: center;     
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    position: fixed;
    left: 15%;
    th, td {
        padding: 8px 12px;
        border: 1px solid #ddd;
        text-align: left;
        text-align: center;
    }
    
    thead {
        .title #tableTitle {
            color: #000000;
            text-align: center;
        }
    }

}

  .actions {
    display: flex;
    gap: 10px;
  }
  .actions button {
    cursor: pointer;
  }
/* Ensure the delete button has a red background color */
.actions #deleteBtn {
    background-color: #dc3545; /* Red background color */
    color: #fff; /* White text color */
  }
  
  .actions #deleteBtn:hover {
    background-color: #c82333; /* Darker red for hover effect */
  }

  #userTable {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  #userTable th, #userTable td {
    padding: 12px 15px;
    border: 1px solid #0a0a0a;
  }
  
  #userTable th {
    background-color: #f07008;;
    font-weight: bold;
    color: #000000;
  }
  
  #userTable tr:nth-child(even) {
    background-color: inherit;
  }
  
  #userTable tr:hover {
    background-color: #594f8d;
  }