.info {
    margin: 20px;
    margin-left: 20%;
    color: #000000;
    line-height: 25px;
}

.info div {
    margin-bottom: 20px;
}

.info button {
    background-color: rgb(77, 165, 36);
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    margin-left: 2px;

}

.info button:hover {
    cursor: pointer;
}

