.wrapper {
  display: flex;
  position: relative;

  .sidebar {
    width: 200px;
    height: 100%;
    background: rgb(238, 88, 13);
    padding: 30px 0;
    position: fixed;
    text-decoration: none;

    h2 {
      color: #000000;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
      font-style: italic;
      text-decoration: underline;
      transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    
      &:hover {
        color: #ffffff;
        transform: scale(1.1);  
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  
        cursor: crosshair;
      }
    }
    
    ul {
      li {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(255, 255, 255, 0.05);

        a {
          color: #fefeff;
          display: block;
          

          
        }

        &:hover {
          background-color: #81339b;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
