*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #adadad;
}

@import 'nav';
@import 'header';
//@import 'wrapper';
@import 'info';
